img{
    height: 370px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid black;
  }

.main {
    background-color: rgb(195, 238, 255);
    display: flex;
  }

.maintext {
    border: 1px solid black;
  }

.img_div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}